{% trans_default_domain 'FOSUserBundle' %}
<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
        <div class="panel-body">
            {#<form action="{{ path('fos_user_profile_edit') }}" method="post">#}
            {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}

                <h4>edit-profile</h4>
                <hr style="border-top:1px solid rgba(42,42,42,.1)">
                <br>
                {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder':'First Name'} }) }}
                {{ form_errors(form.name, {'attr':{'class':'alert alert-danger'}}) }}
                <br>

                {{ form_widget(form.last_name, {'attr': {'class': 'form-control', 'placeholder':'Last Name'} }) }}
                {{ form_errors(form.last_name, {'attr':{'class':'alert alert-danger'}}) }}
                <br>

                {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder':'Email'} }) }}
                {{ form_errors(form.email, {'attr':{'class':'alert alert-danger'}}) }}
                <br>
                {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder':'Username'} }) }}
                {{ form_errors(form.username, {'attr':{'class':'alert alert-danger'}}) }}
                <br>
                {{ form_widget(form.age, {'attr': {'class': 'form-control', 'placeholder':'Age'} }) }}
                {{ form_errors(form.age, {'attr':{'class':'alert alert-danger'}}) }}

                <br>
                {{ form_widget(form.current_password, {'attr': {'class': 'form-control', 'placeholder':'Current Password'} }) }}
                {{ form_errors(form.current_password, {'attr':{'class':'alert alert-danger'}}) }}

                <input type="hidden" name="app_user_edit_profile[_token]" value="{{ csrf_token('intention') }}">
                <br>
                <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
            {{ form_end(form) }}
            {#</form>#}
        </div>
    </div>
</div>
    {#{{ form_widget(form) }}#}
{#<div>#}
    {#<input type="submit" value="{{ 'profile.edit.submit'|trans }}" />#}
{#</div>#}
